:root{
    --primary-color: #5ad250;
    --primary-color--heavy: #0b4b21;
    --text-color: #ffffff;
    --white-color: #ffffff;
    --black-color: #000000;
    --max-width: 1500px;
    --border-radius: 4px;
    --text-size--medium: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.can-hover:hover{
    opacity: 0.8;
}

.container {
    width: 100%;
    max-width: var(--max-width);
}

#header {
    width: 100%;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.header__links {
    display: flex;
    justify-content: end;
}

.header__links a{
    color: var(--white-color);
    font-size: 24px;
    text-decoration: none;
    padding: 8px 12px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__search-bar > input{
    flex: 1;
    font-size: 24px;
    padding: 8px 12px;
    border: none;
    border-radius: var(--border-radius);
}

.header__search-bar > button{
    padding: 8px 16px;
    font-size: 32px;
    background-color: var(--primary-color--heavy);
    color: var(--white-color);
    border: 3px solid var(--white-color);
    border-radius: var(--border-radius);
    transform: translateX(-5px);
}

.header__cart {
    margin-left: 24px;
    font-size: 48px;
}

#content {
    height: 2000px;
}

#footer {
    padding-top: 24px;
    width: 100%;
    color: var(--white-color);
    background-color: var(--primary-color--heavy);
}

#footer ul{
    list-style: none;
    font-size: var(--text-size--medium);
    color: var(--white-color);
}

#footer a{
    color: var(--white-color);
}

.footer__title-list {
    background-color: #3d6a3a;

}

.footer__title-list div {
    font-size: var(--text-size--medium);
}

#footer li {
    display: flex;
}

#footer li p{
    margin-left: 12px;
    text-wrap: wrap;
}


