{{#section 'css'}}
<link rel="stylesheet" href="/public/css/homepage.css">
{{/section}}

<div class="container mt-3">
    <div class="row">
        <div class="col-3 ">
            <div class="card category_block">
                <div class="card-header">
                    Category
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ">
                        <i class="bi bi-arrow-right-circle mr-2"></i>
                        Fruit
                    </li>
                    <li class="list-group-item ">
                        <i class="bi bi-arrow-right-circle mr-2"></i>
                        Vegetable
                    </li>
                    <li class="list-group-item ">
                        <i class="bi bi-arrow-right-circle mr-2"></i>
                        Root
                    </li>
                    <li class="list-group-item ">
                        <i class="bi bi-arrow-right-circle mr-2"></i>
                        Sweet cake
                    </li>
                    <li class="list-group-item ">
                        <i class="bi bi-arrow-right-circle mr-2"></i>
                        Salty cake
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-9">
            <div class="wallpaper">
                <img src="/public/images/Rectangle 3.png" alt="" style="width: 100%; height: 100%;">
                <div class="wallpaper_text">
                    <h4>Product from nature</h4>
                    <h5>Healthy meals, happy life</h5>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="container suggest_block">
            <div class="row suggest_block_header mb-4">
                Suggest for you
            </div>
            <div class="row suggest_block_list">
                <div class="col-3">
                    <div class="suggest_block_item">
                        <img src="/public/images/products/bapcai.png" alt="">
                        <h5 class="mt-2 mb-3">Cà chua tây ninh năm ngàn một ký</h5>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover mr-3">
                                <img src="/public/images/icons8-cart-24 (2).png" alt="" id="imgCart">
                            </button>
                            <button type="button" class="btnViewDetail can-hover">
                                View detail
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="suggest_block_item">
                        <img src="/public/images/products/dautay.png" alt="">
                        <h5 class="mt-2 mb-3">Cà chua tây ninh năm ngàn  </h5>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover mr-3">
                                <img src="/public/images/icons8-cart-24 (2).png" alt="" id="imgCart">
                            </button>
                            <button type="button" class="btnViewDetail can-hover">
                                View detail
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="suggest_block_item">
                        <img src="/public/images/products/caithia.png" alt="">
                        <h5 class="mt-3">Cà chua</h5>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover">
                                Add to cart
                            </button>
                        </div>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="suggest_block_item">
                        <img src="/public/images/products/dualeo.png" alt="">
                        <h5 class="mt-3">Cà chua</h5>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover">
                                Add to cart
                            </button>
                        </div>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container suggest_block">
            <div class="row suggest_block_header">
                Best Seller
            </div>
            <div class="row suggest_block_list">
                <div class="col-3">
                    <div class="suggest_block_item suggest_block_item--discount">
                        <img src="/public/images/products/bap.png" alt="">
                        <h5 class="mt-3">Cà chua</h5>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover">
                                Add to cart
                            </button>
                        </div>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="suggest_block_item">
                        <img src="/public/images/products/cupcake.png" alt="">
                        <h5 class="mt-3">Cà chua</h5>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover">
                                Add to cart
                            </button>
                        </div>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="suggest_block_item">
                        <img src="/public/images/products/banhkem.png" alt="">
                        <h5 class="mt-3">Cà chua</h5>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover">
                                Add to cart
                            </button>
                        </div>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="suggest_block_item">
                        <img src="/public/images/product.png" alt="">
                        <h5 class="mt-3">Cà chua</h5>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover">
                                Add to cart
                            </button>
                        </div>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container suggest_block">
            <div class="row suggest_block_header">
                New Arrival
            </div>
            <div class="row suggest_block_list">
                <div class="col-3">
                    <div class="suggest_block_item">
                        <img src="/public/images/product.png" alt="">
                        <h5 class="mt-3">Cà chua</h5>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover">
                                Add to cart
                            </button>
                        </div>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="suggest_block_item">
                        <img src="/public/images/product.png" alt="">
                        <h5 class="mt-3">Cà chua</h5>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover">
                                Add to cart
                            </button>
                        </div>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="suggest_block_item">
                        <img src="/public/images/product.png" alt="">
                        <h5 class="mt-3">Cà chua</h5>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover">
                                Add to cart
                            </button>
                        </div>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="suggest_block_item">
                        <img src="/public/images/product.png" alt="">
                        <h5 class="mt-3">Cà chua</h5>
                        <div class="row">
                            <button type="button" class="btnAddToCart can-hover">
                                Add to cart
                            </button>
                        </div>
                        <div class="row">
                            <p class="price">45.000đ</p>
                            <p class="price_old">60.000đ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>