:root {
    --primary-color--light: #d7f8d4;
    --primary-color: #5ad250;
    --primary-color--heavy: #0b4b21;
    --primary-color--medium: #0c8a37;
    --text-color: #ffffff;
    --white-color: #ffffff;
    --black-color: #000000;
    --max-width: 1000px;
    --border-radius: 4px;
    --font-size--m: 16px;
    --font-size--l: 20px;
    --separate-far: 15px;
    --border: 1px solid black;
    --box-shadow:  rgba(0, 0, 0, 0.1) 0px 2px 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.can-hover:hover {
    opacity: 0.8;
}

.container {
    width: 100%;
    max-width: var(--max-width);
}

#header {
    width: 100%;
    color: var(--white-color);
    background-color: var(--primary-color);
}
.main__information{
    display: flex;
    justify-content: flex-end;
}
.header__navbar {
    display: flex;
    /* justify-content: space-between; */
    /* margin-left: 300px; */
    align-items: center;
    padding-top: 5px;
}


.header__search-bar {
    flex: 1;
    display: flex;
    /* justify-content: center; */
}
.header__navbar-item > span{
    background-color: white;
    width: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 15px;
}
.header__navbar-item span .spanSearchIcon{
    color: #5ad250;
}
.header__search-bar > input {
    font-size: var(--font-size--m);
    padding: 10px 12px;
    padding-right: 300px;
    width: 100%;
    border: none;
    
}
.header__search-bar > button {
    font-size: var(--font-size--m);
    background-color: rgb(212, 207, 207);
    color: var(--white-color);
    border: 3px solid rgb(212, 207, 207);
    padding: 0px 20px;
    margin-right: 40px;

    display: flex;
    text-align: center;
    align-items: center;
}
.header__navbar-item > a{
    color: white;
    font-weight: 400;
    margin-left: 40px;
}
.header__navbar-item a img{
    width: 20px;
}

.header__cart button{
    background-color: #5ad250;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    
}
.logoPic{
    /* display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-left: 30px; */
}
.header__cart button img{
    width: 30px;
}
.supportive_info_container{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    /* padding-top: 30px; */
    /* margin-left: 290px; */
    font-size: 12px;
}

.supportive_info_container div{
    /* margin-right: 90px; */
    padding: 0 24px;
}
.supportive_infor img{
    width: 20px;
    margin-right: 12px;
}
.customSeparateLine{
    width: 70%;
    margin : 20px auto;
}
#footer {
    padding-bottom: 24px;
    padding-top: 24px;
    width: 100%;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.logoFooter{
    margin-left: 80px;
    /* margin-right: 50px; */
}
#footer ul {
    list-style: none;
    font-size: var(--font-size--m);
    color: var(--white-color);
    width: 290px;
}

#footer a {
    color: var(--white-color);
}
.footer__title-list div {
    font-size: var(--font-size--l);
    font-weight: 500;
    margin-bottom: 20px;
    
}
#footer li {
    display: flex;
    margin: 5px 0px;
}
#footer li span {
    margin-left: 10px;
    text-wrap: wrap;
}
.policyInfor{
    margin-left: -50px;
}
.contactInfor{
    margin-left: -100px;
}
.title_contactInfo{
    margin-left: -100px;
}
.title_policyInfo{
    margin-left: -50px;
}
/* category */
.category_block {
    border-radius: 8px;
    overflow: hidden;
    height: 340px;
}

.category_block > .card-header{
    background-color: var(--primary-color--medium);
    color: white;
    font-size: var(--font-size--l);
    text-align: center;
}

.category_block .list-group-item{
    font-size: var(--font-size--m);
    font-weight: 500;

}

.category_block .list-group-item:hover{
    color: var(--primary-color--medium);
    cursor: pointer;
}

/* Filter */
.filter_block {
    border-radius: 12px;
    overflow: hidden;
    margin-top: 32px;
}

.filter_block > .card-header{
    background-color: var(--primary-color--medium);
    color: white;
    font-size: var(--font-size--l);
    text-align: center;
}

.filter_block .list-group-item{
    font-size: var(--font-size--m);
    text-align: center;
}

.filter_block .list-group-item:hover{
    color: var(--primary-color--medium);
    cursor: pointer;
}


.filter_block .input_price {
    display: flex;
    align-items: center;
}

.filter_block .input_price label{
    font-size: var(--font-size--m);
    width: 100px;
    margin: 10px 0px 10px 18px;
}

/* filter origin */
.origin_block {
    border-radius: 12px;
    overflow: hidden;
    margin-top: 32px;
}

.origin_block > .card-header{
    background-color: var(--primary-color--medium);
    color: white;
    font-size: var(--font-size--l);
    text-align: center;
}

.origin_block .list-group-item{
    font-size: var(--font-size--m);
    text-align: center;
}

.origin_block .list-group-item:hover{
    color: var(--primary-color--medium);
    cursor: pointer;
}

.origin_block select {
    width: 100%;
    font-size: var(--font-size--m);
}

/* product */

.btnAddToCart {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
#imgCart{
    width: 100%;
    height: 100%;
}
.btnViewDetail{
    border: 1px solid var(--primary-color--medium);
    border-radius: 8px;
    padding: 0px 10px;
    color:#0c8a37;
    font-weight: 500;
    background-color: rgb(223, 249,221);
}
.suggest_block_item {
    background-color: rgb(223, 249,221);
    border:1px solid var(--primary-color--medium);
    border-radius: 12px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--separate-far);

    position: relative;
}
.suggest_block_item h5{
    width: 185px;
    height: 40px;
    text-align: left;
    font-size: large;
    color: #3f3e3e;
}

.suggest_block_item img {
    width: 150px;
    height: 150px;
}

.suggest_block_item .price {
    font-size: var(--font-size--l);
    line-height: 30px;
    font-weight: 500;
    color: red;
}

.suggest_block_item .price_old {
    font-size: 16px;
    line-height: 30px;
    text-decoration:line-through;
    margin-left: 5px;
    opacity: 0.5;
    display: none;
}

.suggest_item_discount {
    position: absolute;
    right: 0;
    top: 20px;

    font-size: var(--font-size--m);
    background-color: #fe9705;
    color: white;
    padding: 3px 12px;
    box-shadow: var(--box-shadow);
    display: none;
}

.suggest_block_item--discount .suggest_item_discount,
.suggest_block_item--discount .price_old {
    display: block;
}

.auth_row {
    display: flex;
    justify-content: end;
    align-items: center;
}
